/* Custom Fonts */

@font-face {
   font-family: 'engravers-mt';
   src: url('../fonts/engravers-mt.ttf');
}

/**************************/

body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

body {
    /*background: url('http://placehold.it/1920x1080') no-repeat center center fixed;*/
    background-color: #FF8F32;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}

#landing-content {
  padding: 10% 0;
}

.cover-inner {
  color: #FFF;
  text-align: center;
}

/* Cover */
.cover-heading {
  font-family: engravers-mt;
  font-size: 5em;
}

.lead {
  font-size: 2.5em;
}

/* Progress bar */
#landing-content .progress {
  border: 2px solid #D79B3E;
  border-radius: 8px;
  height: 40px;
  width: 65%;
  margin: 0 auto;
}

#landing-content .progress-bar {
  padding-top: 8px;
}

#landing-content .progress-bar span {
  font-size: 1.6em;
}

/* Media Queries */

@media only screen and (max-device-width: 480px) {
  .cover-heading {
    font-size: 3em;
  }

  .lead {
    font-size: 1.4em;
  }

  #landing-content .progress {
    height: 60px;
    width: 100%;
  }
  #landing-content .progress-bar span {
    font-size: 1.2em;
  }
}
